<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>User Information</h2>
        <p><strong>Name:</strong> {{ user_info['displayName'] }}</p>
        <p><strong>Email:</strong> {{ user_info['emails'][0] }}</p>
        <br>
        <a href="{{ url_for('menu', token=access_token) }}"><button>Back to Menu</button></a>
    </div>
</body>
</html>
